# Ignore all js and json files as they are formatted/linted by biome:
**/*.js
**/*.json

# vscode ide auto detects this as json and formats with biome extension which conflicts with prettier dep in cli
.prettierrc
pnpm-lock.yaml
