<!-- Footer-->
<footer class="border-top">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <ul class="list-inline text-center">
          <li
            class="list-inline-item manually-trigger-aos"
            data-aos="fade-in"
          >
            <a href="#!">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li
            class="list-inline-item manually-trigger-aos"
            data-aos="fade-in"
            data-aos-delay="100"
          >
            <a href="#!">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li
            class="list-inline-item manually-trigger-aos"
            data-aos="fade-in"
            data-aos-delay="200"
          >
            <a href="#!">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <div class="small text-center text-muted fst-italic">Copyright &copy; ABC Driving Center 2022</div>
      </div>
    </div>
  </div>
</footer>
<script>
  // Select all elements with data-aos attribute within the footer
  const elements = document.querySelectorAll(".manually-trigger-aos");

  // Create the Intersection Observer
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        // Add class when the element enters the viewport
        entry.target.classList.add("aos-animate");
      } else {
        // Remove class when the element exits the viewport
        entry.target.classList.remove("aos-animate");
      }
    });
  });

  // Observe each element
  elements.forEach((element) => {
    observer.observe(element);
  });
</script>
